<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="white" class="example-toolbar" >
    <div class="togglemenu">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    </div>
    
    <img class="logo" src="../../../assets/Images/Google_Keep_icon_(2020).svg"width="35px" height="35px" />
  
  <div>
      <h1 class="header" >
      <span >F</span>
      <span >u</span>
      <span >n</span>
      <span >d</span>
      <span >o</span>
      <span >o</span>
      </h1>        
  </div>
  <div class="boxContainer" fxLayout="row" fxLayoutAlign="start center" fxfill>
      <div>
          <button mat-button class="searchimg"><img src="../../../assets/outline_search_black_24dp.png.crdownload" style="width:25px; height: 25px;opacity: 60%;" />
          </button>
          
      </div>
      <div class="elementsContainer">
          <input type="text" placeholder="Search"
          class="search">
          
      </div>                     
  </div>
  
  <div>  
      <button mat-button class="refresh" ><img src="../../../assets/outline_refresh_black_24dp.png.crdownload" width="25px" height="25px"/>
      </button> 
  </div> 
  <div>  
      <button mat-button class="view" ><img src="../../../assets/outline_view_stream_black_24dp.png.crdownload" width="25px" height="25px"/>
      </button> 
  </div> 
  <div>  
      <button mat-button class="settings" ><img src="../../../assets/outline_settings_black_24dp.png.crdownload" width="25px" height="25px"/>
      </button> 
  </div>
  <div>  
    <button mat-button class="settings" ><img src="../../../assets/outline_apps_black_24dp.png.crdownload" width="25px" height="25px"/>
    </button> 
</div>
<div>  
  <button mat-button class="settings" (click)="Logout()"class="example-icon" aria-label="Example icon-button with menu icon"><img src="../../../assets/outline_account_circle_black_24dp.png.crdownload" width="25px" height="25px"/>
  </button> 
</div>
  </mat-toolbar>

  <div fxLayout="row" fxLayoutAlign="start"> 
<div class="iconbar">
      <div class="example-sidenav-content">
        <button type="button" class="icons" mat-button (click)="snav.toggle()">
         
          <img class="img" src="../../../assets/outline_lightbulb_black_24dp.png.crdownload"  width="25px" height="25px" />
          </button>
          
      </div>
      <div class="example-sidenav-content">
          <button type="button" class="icons" mat-button (click)="snav.toggle()">
            <img class="img" src="../../../assets/outline_notifications_black_24dp.png.crdownload" width="25px" height="25px" />
            </button>
            
        </div>
        <div class="example-sidenav-content">
          <button type="button" class="icons" mat-button (click)="snav.toggle()">
            <img class="img" src="../../../assets/outline_edit_black_24dp.png.crdownload" width="25px" height="25px" />
            </button>
            
        </div>
        <div class="example-sidenav-content">
          <button type="button" class="icons" mat-button (click)="snav.toggle()">
            <img class="img" (click)="archive()" src="../../../assets/outline_archive_black_24dp.png.crdownload" width="25px" height="25px" />
            </button>
            
        </div>
        <div class="example-sidenav-content">
          <button type="button" class="icons" mat-button (click)="snav.toggle()">
            <img class="img" (click)="trash()" src="../../../assets/outline_delete_black_24dp.png.crdownload" width="25px" height="25px" />
            </button>
            
        </div>
      </div>      
      
<div>
  <mat-sidenav-container 
  class="example-sidenav-container" 
  [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

    
  <mat-sidenav style="width: 300px;"
  #snav 
  [mode]="mobileQuery.matches ? 'over' : 'side'"
  [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
  >
      
    <mat-nav-list >
       
    
      <a class="link" mat-list-item routerLink="." style="text-align: center;"> 
  Notes</a>
      <a class="link" mat-list-item routerLink=".">Reminders</a>
      <a class="link" mat-list-item routerLink=".">Edit Labels</a>
      <a class="link" mat-list-item routerLink=".">Archive</a>
      <a class="link" mat-list-item routerLink=".">Trash</a>
       
    </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content >
      <!-- <app-takenote></app-takenote> -->
      <router-outlet></router-outlet>
      
     
      
    </mat-sidenav-content>
    
  </mat-sidenav-container>
</div>
</div>

</div>