.forgetcontainer{
    border: 1px solid rgb(226, 226, 238);
    margin-top: 163px;
    margin-right: 68px;
    margin-bottom: -75px;
    margin-left: 451px;
    height: 480px;                                                      
    width: 28%;
}
.SubHeader{  
    font-style:normal;
    font-weight:normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left:35px;
    font-size:x-large;
 }
 .SubHeaderh2{
    font-style:normal;
    font-weight:lighter;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left:35px;
    font-size:large;

 }
.button{
    background-color: #3576ee;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    ///margin: 4px 2px;
    cursor: pointer;
    margin-right: 30px;
    margin-bottom: -292px;
    margin-top: 23px;
    margin-left: 298px;
}
.router-login{
    margin-top: 64px;
    margin-left: 20px;
}
.router-reset{
    margin-top: -49px;
    margin-left: 264px;
}
.resetbutton{background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;   
    color: rgb(32, 29, 214);
    font-weight:bold;
    margin-top: 86px;
    margin-left: 25px;
}