<!DOCTYPE html>
<html>

<body>
    <div class="forgetcontainer">
        <div fxLayout="row" fxLayoutAlign="center center"> 
            <span class="textsty" style="color:#1a73e8"><h2>F</h2></span>
            <span class="textsty" style="color:#ee1010"><h2>u</h2></span>
            <span class="textsty" style="color:#d3f55a"><h2>n</h2></span>
            <span class="textsty" style="color:#1a73e8"><h2>d</h2></span>
            <span class="textsty" style="color:#0a5c41"><h2>o</h2></span>
            <span class="textsty" style="color:#ee1010"><h2>o</h2></span>
            
            </div>
        <div fxLayout="row" fxLayoutAlign="center center"><h1 class="SubHeader">Password Recovery</h1></div>
        <div fxLayout="row" fxLayoutAlign="center center"><h3 class="SubHeaderh2" >Enter your phone number or  email </h3></div>
        <form [formGroup]="forgetPasswordForm" (ngSubmit)="onForgetSubmit()">
            <div  fxLayout="row" fxLayoutAlign="center center">
            <mat-form-field appearance="outline" style="width: 400px;">
                <mat-label>Email or Phone</mat-label>
                <input matInput formControlName='email' placeholder="EmailOrPhone">
                <mat-error>Enter an email or phonenumber</mat-error>
            </mat-form-field>
        </div>
        
            
            
            <button class="button" (click)="onForgetSubmit()">Next</button>
           
        </form>

    </div>
</body>

</html>