// .matcard{
//     border: 1px solid rgb(199, 196, 196);
//     height: 21px;
//     width: 590px;
//     margin-top: -232px;
//     margin-left: 586px;
//     border-radius: 10px;

// }
.close{
	margin-left: 543px;
}
.messagecontent{
    margin-top: -47px;
}
.titleclass{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    margin-top: -200px;
    font-size: 19px;
	
}
.messageclass{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    font-size: 19px;
}
// .form-field {
//     width: 100%;
//
.matcard{
	
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 7px rgb(126, 124, 124);
    border: 5px solid transparent;
    height: 10px;
    width: 600px;
    top: 21px;
    display: flex;
    align-items: center; 
    margin-left: 34%;
    margin: 32px auto 50px auto;
    margin-top: 2em;
  }
  .input {
    width: 600px;;
    font-size: 16px;
    background-color: transparent;
    border: 0px solid;
    min-height: 10px;
    outline: none;
  }