<div class="container" fxLayoutAlign="center center" >
  <div *ngIf="!isExpand" (click)="main()">
      <mat-card class="main" fxlayout="column">
          <input class="content" matInput type="text" placeholder="Take a note...">
      </mat-card>
  </div>
  <div *ngIf="isExpand" >
      <mat-card  fxLayout="column" fxFlex="125">
          <div>
              <textarea class="titlenote"  placeholder="Title" [(ngModel)]="title"></textarea>
          </div>
          <div>
              <textarea class="content1" placeholder="Take a note...." [(ngModel)]="description"></textarea>
          </div>
          <div fxLayout="row">
              <app-noteicons ></app-noteicons>
              <button class="close" mat-flat-button (click)="isExpand=!isExpand" (click)="add()">Close</button>
          </div>
      </mat-card>
  </div>
</div>