.icons{
  opacity: 70%;
}
.icons2{
  opacity: 70%;
}

::ng-deep.mat-menu-panel {
  max-width: none !important;
  
}
.pallete{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 170px;
  
}
.colors:hover{
  outline-style:solid;
  outline-width: 1.5px;
  outline-color: black;
}