.header{
   font-family:cursive;
   font-style: bold;    
   margin-top:5%;
   text-align: center;
   font-weight: 600;
}
.SubHeader{  
   font-style:normal;
   font-weight:500;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: center;
   font-size:x-large;
}
.txtfield{
    text-align: center;
}
.full-width{
  width: 250px;  
}
.full-width1{
   width: 250px;  
}
// .Forgot{
//     margin-left:25px;
// }
.checkbox1{
   margin-top: 20px;
}
.link{
   color:#1a73e8;
   font-weight: 500;
   
}
.signin{
   margin-top: 30px;
   margin-left:40px;
   height:35px;
   width: 80px;
   color:aliceblue;
   background-color:#1a73e8;
}