<div class="main" fxLayout="row wrap" fxLayoutGap="20px grid" style=" margin-left: 94;"   >
    
    <div class="notes" *ngFor="let note of noteList"  >

        <mat-card class="example-card" [style.background]="note.color" >
        <button class="pinbutton"  >
            <img class="pin" src="../../../assets/Images/push_pin_black_24dp.svg" alt="" style="margin-left:250px;opacity:0.6;"  >
          </button>

         <div style="font-size: 18px;padding-top: 15px;padding-left: 15px;font-weight: 500;"> <mat-card-title (click)="openDialog(note)">{{note.title}}</mat-card-title></div>
        <div style="font-size: 18px;padding-top: 15px;padding-left: 15px;"> <mat-card-subtitle (click)="openDialog(note)">{{note.description}}</mat-card-subtitle></div> 
        
    <app-noteicons [cardObject]="note" (changeColorOfNote)="messageReceivedFromNote($event)" ></app-noteicons>
    </mat-card>
    
    </div>
    </div>
    
    