
<!DOCTYPE html>
<html>

<body>
    <div class="resetcontainer">
        <div fxLayout="row" fxLayoutAlign="center center"> 
            <span class="textsty" style="color:#1a73e8"><h2>F</h2></span>
            <span class="textsty" style="color:#ee1010"><h2>u</h2></span>
            <span class="textsty" style="color:#d3f55a"><h2>n</h2></span>
            <span class="textsty" style="color:#1a73e8"><h2>d</h2></span>
            <span class="textsty" style="color:#0a5c41"><h2>o</h2></span>
            <span class="textsty" style="color:#ee1010"><h2>o</h2></span>
           
            </div>
        <div fxLayout="row" fxLayoutAlign="center center"><h1 class="SubHeader">Password Recovery</h1></div>
        <div fxLayout="row" fxLayoutAlign="center center"><h3 class="SubHeaderH2">Reset your FundooNote Account </h3></div>

        <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetSubmit()">
            <div  fxLayout="row" fxLayoutAlign="center center">
            <mat-form-field appearance="outline" style="width: 400px;">
                <mat-label>new password</mat-label>
                <input matInput formControlName='password' placeholder="password">
                <mat-error>please enter the password</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-form-field appearance="outline" style="width: 400px;">
                <mat-label>confirmPassword</mat-label>
                <input matInput formControlName='confirmPassword' placeholder="confirmPassword">
                <mat-error>Enter valid Password</mat-error>
            </mat-form-field>
        </div>
        <button class="button" (click)=" onResetSubmit()">Next</button>
                    
       
        </form>

    </div>
</body>

</html>
